.fallacypage {
    width: 100vw;
    height: 100vh; */
}

#fallacypagetext {
    font-family: 'Sugarpunch';
    font-size: 3em;
    text-align: center;
}

.gallerytext {
    font-family: 'Bearskin';
    font-size: 2em;
    color: black;
}

/* .gallerytext:hover {
    font-family: 'Bearskin';
    font-size: 2em;
    color: #F29E33;
} */

.galleryfallacy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.galleryimg {
    width: 20vw;
    height: 23vh;
    mask-size: cover;
    filter: blur(4px);
}

.galleryimg .active {
    width: 20vw;
    height: 23vh;
    mask-size: cover;
    filter: grayscale(50%);
}

.galleryimg:hover {
    width: 20vw;
    height: 23vh;
    mask-size: cover;
    filter: blur(0px);
}

#fallacycontent {
    margin: 5vw;;
    display: flex;
    flex-direction: column;
}

#fallacygallery {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw; 

}

/* .fallacytitle {
    font-family: 'Sugarpunch';
    font-size: 3em;
} */

/* .fallacydescription {
    font-family: 'Fragmentcore';
} */

/* .fallacycontent {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .backtohome {
    font-family: 'Fragmentcore';
}

.material-icons {
    color: #5EC5B7;
} */
