.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homepagehead {
    font-family: 'Sugarpunch';
    font-size: 4em;
    text-align: center;
    line-height: 1.5em;
}

#homebutton {
    background-color: #5EC5B7;
    border-radius: 10px;
    border: none;
    width: 10vw;
    height: 8vh;
    color: white;
    font-family: 'Bearskin';
    font-size: 2em;
}

#homebutton:hover {
    background-color: #F29E33;
    border-radius: 10px;
    border: none;
    width: 10vw;
    height: 8vh;
    color: white;
    font-family: 'Bearskin';
    font-size: 2em;
}