#quizpage2 {
    width: 100vw;
    height: 100vh;
    display: none;
}

#question2title {
    margin-top: 7vh;
}

#quizpage5 {
    width: 100vw;
    height: 100vh;
    display: none;
}

.question_buttonlarge {
    border-radius: 10px;
    border: none;
    width: 200px;;
    height: 5vh;
    color: white;
    font-family: 'Bearskin';
    font-size: 1.5em;
    margin: 50px;
}

.question_buttonlarge:hover {
    border-radius: 10px;
    border: 2px solid black;
    width: 200;
    height: 5vh;
    color: white;
    font-family: 'Bearskin';
    font-size: 1.5em;
    margin: 50px;
}

#quizpage2content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#quizpage5content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.quizdescription {
    font-size: 2em;
    font-family: Fragmentcore;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.answerscontentbox {
    display: flex;
    justify-content: center;
    align-items:center;
}

@media (min-width: 400px) and (max-width: 1025px) {
   
.question_buttonlarge {
    border-radius: 10px;
    border: none;
    width: 20vw;
    height: 5vh;
    color: white;
    font-family: 'Bearskin';
    font-size: 1.5em;
    margin: 50px;
}

.question_buttonlarge:hover {
    border-radius: 10px;
    border: 2px solid black;
    width: 20vw;
    height: 5vh;
    color: white;
    font-family: 'Bearskin';
    font-size: 1.5em;
    margin: 50px;
} 
}

@media (max-width: 400px) {

body, html {
    margin: 0;
}

#quizpage2content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#quizpage5content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.answerscontentbox {
    display: flex;
    flex-direction: column;
}

.previousquestion {
    background-color: #5EC5B7;
    color: white;
    transform: scale(1.2);
    border: none;
    margin-right: 5px;
}

#previousquiz {
    margin-bottom: 5%;
}

.backtohome {
    font-family: 'Fragmentcore';
}

.previousquestiontext {
    font-size: 1em;
    font-family: Fragmentcore;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.question_buttonlarge {
    border-radius: 10px;
    border: none;
    width: 100vw;
    height: 5vh;
    color: white;
    font-family: 'Bearskin';
    font-size: 8vw;
    margin: 5px;
}

}

/* #quizpage2, #quizpage5 {
    width: 100vw;
    height: 100vw;
    display: none;
}

.q2 {
    display: flex;
    flex-direction: column;
    flex: 10;
    justify-content: center;
    align-items: center;
}

.q2_answerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    bottom: -20em;
}

.answer {
    border: 1px solid #5EC5B7;
    width: 20vw;
    height: 4vh;
    border-radius: 5px;
    margin-right: 5px;
    font-family: 'Bearskin';
    font-size: 2em;
}

.answer:focus {
    border: 1px solid #F29E33;
}

.gobutton {
    background-color: #5EC5B7;
    font-size: 2em;
    color: white;
    font-family: 'Bearskin';
    border-radius: 10px;
    width: 2em;
    height: 1.5em;
}

.gobutton:hover {
    background-color: #F29E33;
    transform: scale(1.2);
    margin-right: 5px;
}

.q2_text {
    position: relative;
    top: 5em;
}


@media (min-width: 400px) and (max-width: 1025px) {
    .q2_answerbox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: -15em;
    }

    .q2_text {
        position: relative;
        top: 5em;
    }

    .gobutton:hover {
        background-color: #F29E33;
        border: none;
    }
}

@media (max-width: 400px) {
    .q2_answerbox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: -10em;
    }
    
    .q2_text {

        position: relative;
        top: 5em;
    }

    .answer {
        width: 50vw;
    }
} */