

#quizpage3, #quizpage6 {
    width: 100vw;
    height: 100vh;
    display: none;
}

#q3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.q3_img {
    width: auto;
    height: 35vh;
    background-size: cover;
    position: relative;
    top: 5em;
    margin: 40px;
}

.q3_img:hover {
    mask-size: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: url(#blur);
    filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    -webkit-transition: 0.3s -webkit-filter linear;
    -o-transition: 0.3s -o-filter linear;
}

.q3_chooseone {
    position: relative;
    bottom: -10em;
}

.q6_img {
    width: 40vw;
    height: 30vh;
    background-size: cover;
    position: relative;
    top: 5em;
    margin: 40px;
}

.q6_img:hover {
    mask-size: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: url(#blur);
    filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    -webkit-transition: 0.3s -webkit-filter linear;
    -o-transition: 0.3s -o-filter linear;
}

@media (min-width: 400px) and (max-width: 1025px) {
    .q3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .q3_img, .q6_img {
        width: 80vw;
        height: auto;
        background-size: cover;
        position: relative;
        top:0;
        margin: 10px;
        text-align: center;
    }

    .q3_chooseone {
        position: relative;
        top: 0;
    }
}

@media (max-width: 400px) {
    .q3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .q3_img, .q6_img {
        width: 80vw;
        height: auto;
        background-size: cover;
        position: relative;
        top:0;
        margin: 10px;
        text-align: center;
    }

    .q3_chooseone {
        position: relative;
        top: 0;
    }

} 