

#quizpage1, #quizpage4 {
    width: 100vw;
    height: 100vh;
    display: none;
}

.question_button {
    border-radius: 10px;
    border: none;
    width: 15vw;
    height: 5vh;
    color: white;
    font-family: 'Bearskin';
    font-size: 2em;
    margin: 50px;
}

.question_button:hover {
    border-radius: 10px;
    border: 2px solid black;
    width: 15vw;
    height: 5vh;
    color: white;
    font-family: 'Bearskin';
    font-size: 2em;
    margin: 50px;
    
}

.teal {
    background-color: #5EC5B7;
}

.red {
    background-color: #E83F36;
}

.purple {
    background-color: #6564DC;
    font-size: 2.5vw;
}

.orange {
    background-color: #F29E33;
}

.q1 {
    display: flex;
    margin-top: 150px;
}

.q1choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 400px) and (max-width: 1025px) {
    .question_button {
        width: 25vw;
        height: 7vh;
        font-size: 4.5vw;
        margin: 10px;
    }

    #q4 {
        display: flex;
        flex-direction: column;
    }

    .q4_choices {
        order: 2;
    }
    
    #q4_img {
        order: 1;
        text-align: center;
    }

}

@media (max-width: 400px) {
    .question_button {
        border-radius: 10px;
        border: none;
        width: 100vw;
        height: 5vh;
        color: white;
        font-family: 'Bearskin';
        font-size: 8vw;
        margin: 5px;
    }

    .q1 {
        display: flex;
        flex-direction: column;
    }

    .q1_img {
        order: 1;
        text-align: center;
        width: 100vw;
        height: 60vh;
        margin-top: -100px;
    }

    .q1choices  {
        order: 2;
    }

    #q4_img {
        order: 1;
        text-align: center;
        width: 100vw;
        height: 30vh;
    }
} 
